.dot__wr {
  display: flex;
  position: absolute;
  bottom: 24px;
  width: 100%;
  justify-content: center;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 8px;
  background: hsla(0, 0%, 97%, 0.5);
}

.dot + .dot {
  margin-left: 4px;
}

.dot--active {
  background: #f7f7f7;
}
