/* page */
.page__header {
  display: flex;
  height: 26px;
}

.page__header .btn {
  flex: 2;
}

.page__header-content {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
