.exchange {
  width: 100%;
  display: flex;
  height: 650px;
  flex-direction: column;
  overflow: hidden;
  padding-top: 32px;
  border-radius: 36px;
  /* background:radial-gradient(ellipse at center, rgba(78,145,252,1) 0%, rgba(78,145,252,1) 17%, #2250ac 74%, #204899 100%); */
  position: relative;
}

.exchange__wr {
  content: '';
  /* opacity: .1; */
  background: radial-gradient(ellipse at center, rgb(73, 134, 255) 0%, rgb(32, 103, 245) 28%, rgb(0, 44, 128) 74%, rgb(0, 38, 113) 100%);
  /* background: url(./bubbles.jpg) center center no-repeat; */
  background-size: cover;
  position: absolute;
  top: 0;
  left: calc((298px - 650px) / 2);
  width: 650px;
  height: 650px;
}

.exchange__wr::after {
  content: '';
  opacity: .1;
  background: url(./bubbles.png) center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: calc((298px - 650px) / 2);
  width: 650px;
  height: 650px;
}

.exchange__content {
  display: flex;
  width: 100%;
  height: 650px;
  position: relative;
  flex-direction: column;
  overflow: auto;
}

.exchange__swipable {
  flex: 1;
  position: relative;
}

/* keyboard */
.exchange__keyboard .numeric-keyboard tbody {
  display: table-row-group;
}

.exchange__keyboard .numeric-keyboard td, th {
  display: table-cell;
}

.exchange__keyboard .numeric-keyboard tr {
  display: table-row;
}
.exchange__keyboard .numeric-keyboard table {
  display: table;
}

