
/* exchange__currency */
.exchange__currency {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 32px;
  color: white;
  height: 200px;
}

.exchange__currency-angle {
  width: 100%;
  height: 24px;
  background-size: cover;
  background: url('./bg__angle.png') center center;
}

.exchange__currency--dark {
  background: rgba(34, 34, 34, 0.3);
}

.exchange__group {
  flex: 1;
}

.exchange__group-main {
  font-size: 32px;
  margin-bottom: 14px;
}

.exchange__group-desc {
  font-size: 12px;
  white-space: nowrap;
  display: flex;
  color: rgba(255, 255, 255, 0.64);
  align-items: flex-end;
}

.exchange__group:last-child .exchange__group-desc {
  justify-content: flex-end;
}

input {
  color: white;
  background: none;
  border: none;
  width: 100%;
  text-align: right;
  font-size: 32px;
}

.exchange__group-desc-space {
  display: inline-block;
  width: 4px;
}

.exchange__group:last-child {
  opacity: 1;
  will-change: opacity;
  transition: opacity .2s ease-in-out;
}

.transition_on .exchange__group:last-child {
  opacity: 0;
}
