/* exchange-rate */
.exchange-rate {
  display: flex;
  align-items: flex-end;
}

.exchange-rate__dropdown {
  border-radius: 7px;
  background: rgba(34, 34, 34, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 4px 8px;
  color: white;
  font-size: 12px;
}

.exchange-rate__separator {
  margin: 0 4px;
}

.exchange-rate__angle {
  font-size: 8px;
  margin-left: 4px;
}

.exchange-rate__placeholder {
  flex: 1;
}
